@import "tailwindcss";
@import "tw-animate-css";




:root {
    scroll-behavior: smooth;
    overflow-x: hidden;
  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto);

 
}


body{
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-inter), sans-serif;

}